In [1]:
# Dependencies
import requests
import json
import pandas as pd

In [2]:
url = "https://hotspots.dea.ga.gov.au/data/recent-hotspots.json"
response = requests.get(url)

In [3]:
data = response.json()

In [4]:
coordinates = []
temperature = []

for i in range(100000):
    if data["features"][i]["properties"]["hours_since_hotspot"] < 12 and data["features"][i]["properties"]["longitude"] < 129 and data["features"][i]["properties"]["latitude"] < -12:
        coordinates.append([data["features"][i]["properties"]["latitude"],data["features"][i]["properties"]["longitude"]]),
        temperature.append(data["features"][i]["properties"]["temp_kelvin"])

len(coordinates)

2090

In [5]:
coordinates_S = pd.Series(coordinates)
temperature_S = pd.Series(temperature)

df = pd.concat([coordinates_S, temperature_S], axis=1)
df = df.set_axis(["coordinates","temperature"], axis=1)
df = df.T
df

,0,1,2,3,4,5,6,7,8,9,...,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089
coordinates,"[-19.287, 128.1331]","[-19.2809, 128.1168]","[-19.2741, 128.1086]","[-19.2669, 128.1078]","[-19.2674, 128.1003]","[-19.2596, 128.1071]","[-19.2602, 128.0995]","[-19.2635, 128.1037]","[-19.2635, 128.1037]","[-19.2602, 128.0995]",...,"[-15.15, 128.77]","[-32.0986, 115.804]","[-32.0661, 115.905]","[-32.0661, 115.905]","[-32.0708, 115.9125]","[-32.0708, 115.9125]","[-32.0986, 115.804]","[-32.0986, 115.804]","[-32.0661, 115.905]","[-32.0708, 115.9125]"
temperature,336.66,348.87,348.17,367,335.9,356.24,347.26,323.84,323.84,347.26,...,340,306.91,305.95,305.95,305.2,305.2,306.91,306.91,305.95,305.2

In [6]:
df.to_json("hotspots.json")